.div1
{
    margin: auto;
/*    height: 60%;*/
    width: 70%;
    border: 2px solid black;
    margin-top: 2%;
    padding:2% 5%;


}
.button
{
    background-color: rgb(26, 23, 204);
    padding: 1%;
    width: 40%;
    margin: 2% 30%;
    border-radius: 8px;
    box-shadow: 4px;
    border: 1px solid white;
    color: white;
}
p{
    text-align: center;
}
table,td
{
    border: solid black 1px;
    color: black;
    font-size: 100%;
}

body
{
/*background-image: url('img1.jpg');
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;*/
}
body>background-image
{
    opacity: 0.1;
}
table ,td
{
    color: white;
    border: solid black 1px;
}