.btn
{
    color: white;
    border: 1px solid ;
    border-radius: 10%;
}

.custom
{
    text-transform: uppercase;
    font-weight: bold;
}

.custom1
{
    font-weight: bold;
}

.a
{
    font-weight: bold;
}

.carousel-inner img{
    width: 100%;
    height: 90vh;
}

p{
    text-align: center;
}

.footer
{
    height: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    /* margin: auto; */
    border: 1px double white;
}

.div1
{
    /* background-color: red; */
    height: 70%;
    margin: 1%;
    padding: 15% 45%;
    border: 1px black solid;
    margin-left: 2%;
}

 .about
        {
            color: rgb(13, 27, 12);
            margin-top: 20px;
            margin: 2%;
            font-family: 'Times New Roman', Times, serif;
            font-size:300px;
            font-style: italic;
            font-weight: bold;
            color: white;
        }

.us
{
            border: 2px solid transparent;
            border-radius:70px;
            padding: 3%;
            margin: 1%;
            font-style: italic;
            font-size: 175%;
            color: white;
            font-family:'Times New Roman', Times, serif;
            background: #0008;
            
}